body {
  margin: 0;
  background-color: #ddd;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.box-layout {
  background-color: #ddd;
  align-items: center;
  display: flex;
  justify-content: center;
  height: 100vh;
  width: 100vw;
}

.box-layout_box {
  background-color: #fff;
  padding: 40px;
  text-align: center;
  width: 30rem;
}

.content-container {
  background-color: #fff;
  padding: 0;
  margin: 0 auto;
  max-width: 30rem;
}

.button {
  background-color: #55acee;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  display: inline-block;
  font-weight: 600;
  font-size: 25px;
  padding: 20px;
  margin: 5px;
  text-transform: uppercase;
  width: 320px;
}

.header-button {
  background-color: #55acee;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  display: inline-block;
  font-weight: 600;
  font-size: 15px;
  padding: 20px;
  text-transform: uppercase;
  width: 100px;
}

.list-body {
  margin-bottom: 5px;
}

.list-header {
  display: flex;
  padding: 20px;
  justify-content: space-between;
}

.list-item {
  color: #000;
  border: none;
  border-top: solid;
  border-width: 1px;
  display: flex;
  flex-direction: column;
  padding: 10px;
  text-decoration: none;
}

.list-item_title {
  margin: 0;
  word-break: break-all;
}

.text-input {
  font-size: 18px;
  padding: 10px;
  border: solid;
  border-width: 2px;
  border-radius: 5px;
  margin: 5px;
  width: 280px;
}

.error {
  font-weight: 600;
  color: #f00;
}